fastapi
uvicorn[standard]
python-multipart

# OCR & other tools
Pillow
python-doctr[torch]
rapidfuzz

# Tests
pytest
pytest-asyncio
httpx

# Lint
ruff

# Sqlite
sqlalchemy 
pydantic